body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    
    table {
    width: 100%;
    border-collapse: collapse; /* Hilangkan jarak antar sel */
    border-spacing: 0;
    text-align: center;
    }
    
    td {
    border: 1px solid black;
    vertical-align: top;
    padding: 0; /* Hilangkan padding bawaan agar warna pas di garis */
    }
    
    header {
    background-color: khaki; /* Warna oranye muda */
    padding: 20px;
    font-weight: bold;
    }
    
    nav {
    background-color: lightskyblue; /* Warna biru muda */
    padding: 10px;
    font-weight: bold;
    }
    
    main {
    background-color: lightpink; /* Warna merah muda */
    padding: 26px;
    text-align: left;
    box-sizing: border-box; /* Pastikan padding tidak menambah ukuran */
    }
    
    aside {
    background-color: lightgreen; /* Warna hijau muda */
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    }
    
    footer {
    background-color: khaki;
    padding: 15px;
    font-weight: bold;
    }
    
    h1 {
    margin-top: 0;
    }
    
    ul {
    list-style-type: disc;
    padding-left: 20px;
    }
    
    .content {
    width: 80%;
    }

